.flash {
    width: 90%;
    background-color: #ffdd99;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
}

@media not (max-aspect-ratio: 1/1) {
    .flash {
        width: 40%;
    }
}

.form-control:focus {
    border-color: grey;
    box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.2);;
}

@font-face {
    /* Designed by Emmeran Richard */
    font-family: Anurati;
    src: url("Anurati.otf");
}

.anurati {
    font-family: Anurati;
}

.firstchar {
    color: #99ff66;
}

ul {
    list-style-type: none;
    padding-left: 0;
}
