{% extends "layout.html" %}

{% block title %}
    Expense
{% endblock %}

{% block name %}
    {{ username }}
{% endblock %}

{% block body %}
    <div class="header anurati mt6">EXPENSE</div>

    <form action="/expense" method="POST">
        <table class="expense mt-3">
            <tr>
                <td><input class="form-control" name="date" placeholder="Date" type="date" max="{{ today }}" autocomplete="off" required></td>
                <td>
                    <select class="form-select" name="type" autocomplete="off" required>
                        <option disabled selected value="">Type</option>
                        {% for row in type %}
                            <option value="{{ row.type }}">{{ row.type }}</option>
                        {% endfor %}
                        <option value="{{ other.type }}">{{ other.type }}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><input class="form-control" name="desc" placeholder="Description" type="text" autocomplete="off" required></td>
                <td>
                    <input class="form-control" name="amount" placeholder="{{ sign }} 0.00" type="number" step="0.01" min="0" autocomplete="off" required>
                </td>
            </tr>
            <tr>
                <td class="text-center" colspan="2">
                    <button class="btn btn-dark anurati" type="submit"><span class="firstchar">A</span>DD</button>
                </td>
            </tr>
        </table>
    </form>

    {% if get_flashed_messages() %}
        <ul class="flash mb-0 mx-auto">
            {% for message in get_flashed_messages() %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="container-fluid history">

        <div class="header header2 mt6">HISTORY</div>
        <div class="text-center">Showing the latest 10 entries</div>

        <div>
            <table class="table table-striped">
                <thead>
                    <th class="text-start">Date</th>
                    <th class="text-start">Type</th>
                    <th class="text-start">Description</th>
                    <th class="text-end">Amount in {{ iso }}</th>
                </thead>
                <tbody>
                    {% for row in expenses %}
                    <tr>
                        <td class="text-start">{{ row.date }}</td>
                        <td class="text-start">{{ row.type }}</td>
                        <td class="text-start">{{ row.description }}</td>
                        <td class="text-end">{{ "%.2f" | format(row.amount) }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td class="text-end fw-bold border-0" colspan="3">TOTAL</td>
                        <td class="text-end border-0"><b>{{ sign }} {{ "%.2f" | format(expenses | sum(attribute='amount')) }}</b></td>
                    </tr>
                </tfoot>
            </table>
        </div>

    </div>
{% endblock %}
